<!DOCTYPE html>
<html>
  <head>
    <title>編集フォーム</title>
  </head>
  <body>
    <h2>編集フォーム</h2>
    <form action="/api/update/<%= user[0].id %>?_method=PUT" method="post">
      <!-- 10行目を追加、8行目を多少修正 -->
      <input type="hidden" name="_method" value="put" />
      <label for="name">名前:</label>
      <input type="text" id="name" name="name" /><br /><br />
      <label for="profile">プロフィール:</label><br />
      <textarea id="profile" name="profile" rows="4" cols="50"></textarea
      ><br /><br />
      <input type="submit" value="編集する" />
    </form>
  </body>
</html>
