* {
  padding: 0;
  margin: 0;
}
table {
  border: 1px solid black;
  width: 500px;
  height: 100px;
  margin: 5cm auto;
}
th {
  text-align: center;
  padding: 0cm 2cm;
  border: 1px solid black;
}
td {
  text-align: center;
  border: 1px solid black;
}
.BlockPlace {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  min-height: 100vh;
  margin-top: 5cm;
}
a {
  font-size: large;
  font-weight: bolder;
  padding-top: 1cm;
}
